@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
body {
    background-image: url("https://wallpapercave.com/wp/wp4323537.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    align-items: center;
   }
 .container
 {
    margin-top: 70px;
 }
 button
 {
    padding:18px 60px;
    font-size: 1em;
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: .4s ease-out;
    border: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-right: 10px;
    margin-top: 10px;
    justify-content: center;
 }
 .btn1
 {
    margin-left: 20px;
    border-radius: 10px;
 }
 .btn2
 {
    margin-left: 30px;
    border-radius: 10px;
 }
 .btn1:hover
 {
    
    background-color: red;
    box-shadow: 0px 0px 5px rgb(223, 158, 158), 0px 0px 25px rgb(236, 164, 164), 0px 0px 50px red,0px 0px 50px red;
 }
 .btn2:hover
 {
    margin-right: 20px;
    background-color: red;
    box-shadow: 0px 0px 5px rgb(223, 158, 158), 0px 0px 25px rgb(236, 164, 164), 0px 0px 50px red, 0px 0px 50px red ; 
    
}
.heading{
   font-family: 'Caveat';
   font-size: 40px;
   font-weight: bold;
}