@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    /* font-family: "Caveat"; */
}
.container{
    height: 100vh;
    width: 100%;
    background-image: url("images/bujji.png");
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}
.navbar{
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}
.logo{
    width: 70px;
    cursor: pointer;
    animation: movedown 1s linear 1;
    animation-delay: 1s;
    visibility: hidden;
    animation-fill-mode: forwards;
}

@keyframes movedown{
    0%{
        transform:  translateY(-100px);
        visibility: visible;
    }
    100%{
        transform:  translateY(0);
        visibility: visible;
    }
}
.cart{
    height: 70px;
    cursor: pointer;
    animation: movedown 1s linear 1;
    animation-delay: 1s;
    visibility: hidden;
    animation-fill-mode: forwards;
}
nav{
    flex: 1;
    padding-left: 60px;
    animation: movedown 1s linear 1;
    animation-delay: 1s;
    visibility: hidden;
    animation-fill-mode: forwards;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #333;
}
.content h1{
    font-size: 60px;
    font-weight: 100;
    margin-top: 24px;
    margin-bottom: 15px;
    color: #232d60;
}
.content p{
    font-size: 20px;
    color: #6a7199;
}
.content{
    margin-left: 6%;
    margin-top: 0%;
    animation: moveright 1s linear 1;
    animation-delay: 1s;
    visibility: hidden;
    animation-fill-mode: forwards;
    /* width: 500px; */
}
.content1-paragraph{
    margin-bottom: 15px;
    margin-top: 30px;
}
@keyframes moveright{
    0%{
        transform:  translateX(-100px);
        visibility: visible;
    }
    100%{
        transform:  translateX(0);
        visibility: visible;
    }
}
.content .btn{
    display: inline-block;
    background: linear-gradient(45deg,#87adfe, #8981f0);
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    box-shadow: 3px 8px 22px rgba(94,28,68,0.15);
}
.arrow-icons{
    margin-top: 40px;
    display: flex;
}
.arrow-icons img{
    width: 40px;
    margin-right: 40px;
}
.feature-img{
    height: 90%;
    position: absolute;
    bottom: 0;
    right: 100px;
    animation: zoomin 1s linear 1;
    animation-delay: 1s;
    visibility: hidden;
    animation-fill-mode: forwards;
}
@keyframes zoomin{
    0%{
        transform: scale(0.5);
        visibility: visible;
    }
    100%{
        transform: scale(1);
        visibility: visible;
    }
}
/* .social-links{
    transform: rotate(-90deg);
    position: absolute;
    left: 0;
    bottom: 180px;
}
.social-links a{
    text-decoration: none;
    color: #6a7199;
    padding-right: 20px;
    font-size: 14px;
} */
.content1{
    height: 200px;
    width: 200px;
    display: inline-block;
    background: linear-gradient(45deg,#87adfe, #8981f0);
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    box-shadow: 3px 8px 22px rgba(94,28,68,0.15);  
    font-size: 10px; 
}
.content1 p{
    color: black;
}